{% extends 'main/base.html' %}

{% block title %}Upload content{% endblock %}

{% block content %}
    {% if form.errors or form.non_field_errors %}
<div class="alert alert-danger">
        {% for err in form.errors %}
    <p>{{ err }}</p>
        {% endfor %}
        {% for err in form.non_field_errors %}
    <p>{{ err }}</p>
        {% endfor %}
</div>
    {% endif %}
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
    <button class="btn btn-primary float-right">Upload</button>
    <a class="btn btn-secondary" href="..">Cancel</a>
</form>
{% endblock %}